@font-face{
    font-family: Slussen;
    src: url(../fonts/Slussen-Compressed-Black.woff2) format("woff2");
    font-display: swap;
    font-weight: 900;
    font-stretch: compressed;
}
@font-face{
    font-family: Slussen;
    src: url(../fonts/Slussen-Expanded-Black.woff2) format("woff2");
    font-display: swap;
    font-weight: 900;
    font-stretch: expanded;
}
@font-face{
    font-family: Slussen;
    src: url(../fonts/Slussen-Regular.woff2) format("woff2");
    font-display: swap;
    font-weight: 400
}
@font-face{
    font-family: Slussen;
    src: url(../fonts/Slussen-Bold.woff2) format("woff2");
    font-display: swap;
    font-weight: 700;
}

html {

    scroll-behavior: initial;
    width: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-font-smoothing: antialiased;
    text-rendering: geometricPrecision;
    

}

html, body {

    width: 100vw;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

}

body {

    font-family: Slussen;
    font-size: 1.4vw;
    font-weight: 400;
    background: linear-gradient(to bottom right, #000b24, #000000);
    color: #ffffff;
    margin: 0;

}

h1 {

    text-align: center;
    font-size: 10vw;
    font-weight: 750;
    line-height: 80%;
    letter-spacing: -0.2rem;

}

h2 {

    text-align: center;
    font-size: 1.5vw;
    margin: 0;

}

h3 {

    border-left: 1vw;
    font-size: 6vw;
    font-weight: 900;
    line-height: 85%;
    border-left: 3px solid lightblue;
    padding: 1.5vw;
    margin: 0;

}

h3 span {

    display: block;

}

h4 {

    font-size: 2vw;
    font-stretch: expanded;
    font-weight: 900;
    color: lightblue;
    line-height: 100%;

}

h6 {

    font-size: 1vw;
    font-weight: 500;
    text-align: center;
    margin: 0;

}

h1, h2, h3, h4 {

    text-transform: uppercase;

}

section {

    padding: 5vh 0;

}

@media(max-width: 800px) {

    body { font-size: 3vw; }

    h1 { font-size: 14vw; }

    h2 { font-size: 2vw; }

    h3 { font-size: 6vw; }

    h4 { font-size: 4vw; }

    h6 { font-size: 1.4vw; }

}

#home {

    height: 100vh;
    width: 100%;
    padding-top: 10vh;

}

#about {

    height: 150vh;
    width: 100%;

}

#projects {

    height: 150vh;
    width: 100%;
    padding: 0;

}

#end {

    height: 100vh;
    padding: 0;

}

@media(max-width: 800px) {

    #home { height: 80vh; padding-top: 25vh; }

    #about { height: 120vh; }

}

.container {

    width: 100%;
    margin: auto;

}

.col {

    width: 50%;

}

.col_left {

    width: 45%;

}

.col_right {

    width: 55%;

}

.vertical__content {

    display: flex;
    justify-content: center;
    align-items: flex-start;

}

.vertical_content .col_left { height: 100% }
.vertical_content .col_right { width: 40% }

.vertical__heading {

    transform: translate(10vw, 0);

}

.vertical__item:not(:last-child) {

    margin-bottom: 20vh;

}

.vertical__item:first-of-type {

    margin-top: 80px;

}

.project_desc {

    padding-top: 4vh;

}

.horizontal__content {

    margin-top: 18vh;
    display: flex;
    overflow: hidden;
    padding-left: 100vw;

}

.horizontal__item {

    border: 1px solid lightblue;
    justify-content: space-between;
    flex-direction: column;
    background-color: transparent;
    backdrop-filter: blur(2px);
    height: 50vh;
    width: 25vw;
    text-decoration: none;

}

.horizontal__item:not(last-child) {

    margin-right: 8vw;

}

.item_title {

    margin-left: 1vw;
    margin-right: 8vw;
    position: relative;

}

.item_body {

    margin-left: 1vw;
    color: #ffffff;
    font-size: 1vw;
    position: relative;
    margin-right: 1vw;

}

.bgv {

    top: 0; 
    left: 0; 
    overflow: hidden; 
    position: absolute; 
    object-fit: cover;  
    width: 100%; 
    height: 100%;

}

.button {

    text-decoration: none;
    color: #ffffff;
    border: 1px solid lightblue;
    padding: .5vh 1vw;
    position: relative;
    bottom: 0;
    margin-bottom: 2vh;
    background: linear-gradient(to bottom right, #000d2b, #000b24);
    font-size: 1vw;

}

#end .container {

    padding-top: 0vh;

}

.end_text {

    display: flex;
    justify-content: center;
    font-size: 4vw;
    font-weight: 250;
    height: 35vh;

}

.dynamic-text {

    padding: 0;
    margin-left: 1vw;
    color: lightblue;

}

.footer {

    display: flex;
    justify-content: center;
    font-size: 4vw;
    padding-top: 45vh;

}

.footer a {

    text-decoration: none;
    color: lightblue;
    position: relative;

}

.icon {

    margin: 2vw;

}

@media(max-width: 800px) {

    .col_left  { width: 25%; }

    .col_right { width: 75%; }

    .vertical__heading { transform: translate(2vw, 0vh); }

    .vertical__item:not(:last-child) { margin-bottom: 10vh; }

    .horizontal__content { margin-top: 10vh; }

    .project_title { width: 30%; }

    .project_desc { width: 70%; padding-left: 8vw; padding-top: 0vh; }

    .item_title { font-size: 2.5vw; }

    .item_body { font-size: 1.75vw; font-weight: 250; }

}